# **bascis python programming**

arithmetic operation

In [ ]:

a=5
b=6
c=a+b
print(c)

11

In [ ]:
a=5
b=6
e=a+b
c=a-b
m=a*b
d=a/b
print(a)
print(c)
print(m)
print(d)
print("add: {0}, sub:{1}, mult:{2},div:{3}".format(a,c,m,d))

5
-1
30
0.8333333333333334
add: 5, sub:-1, mult:30,div:0.8333333333333334

#**if condition**

In [ ]:
a=10
b=20
if(a>30):
  print("a is greater than 30")
else:
  print("a is less than 30")

a is less than 30

In [ ]:
a=10
b=20
if(a>b):
  print("a is greater than b")
elif(a==b):
  print("a is equal to b")
else:
  print("a is less than b")

a is less than b

# nested if condition

In [1]:
a=10
b=20
c=20
if(a>b):
  print("a is greater than b")
elif(a==b):
  print("a is equal to b")
  if(c>b):
    print("c is greater than b")
  else:
    print(" c is not greater than b")  
else:
  print("a is less than b")

a is less than b

# for & range

In [2]:
for i in range(0,6):
  print(i)

0
1
2
3
4
5

In [3]:
# icrement in 2 & 3
for i in range(0,10,2):
  print(i)

for n in range(0,20,3):
  print(n)

0
2
4
6
8
0
3
6
9
12
15
18

In [4]:
#decrement in 2 & 3
for i in range(10,0,2):
  print(i)

for n in range(20,0,3):
  print(n)